openapi: 3.1.0
info:
  title: Cadenya API
  description: API for the Cadenya Agent Runtime platform.
  version: '1.0'
servers:
  - url: https://api.cadenya.com
    description: Production server
paths:
  /v1/account:
    get:
      tags:
        - AccountService
        - Accounts
      summary: Retrieves the current account for the token accessing the API
      description: Retrieves the current account for the token accessing the API. Useful to check if the credentials are valid.
      operationId: AccountService_GetAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account/global_api_key:
    get:
      tags:
        - GlobalAPIKeyService
        - API Keys
      summary: Get the global API key
      description: Retrieves the account's global API key. The token is included only when the caller's scopes dominate the key's.
      operationId: GlobalAPIKeyService_GetGlobalAPIKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account/global_api_key:disable:
    post:
      tags:
        - GlobalAPIKeyService
        - API Keys
      summary: Disable the global API key
      description: Disables the global API key. While disabled, presenting its token fails authentication on every endpoint; the key is retained. Idempotent.
      operationId: GlobalAPIKeyService_DisableGlobalAPIKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account/global_api_key:enable:
    post:
      tags:
        - GlobalAPIKeyService
        - API Keys
      summary: Enable the global API key
      description: Re-enables the disabled global API key so its token authenticates again. Idempotent.
      operationId: GlobalAPIKeyService_EnableGlobalAPIKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account/global_api_key:rotate:
    post:
      tags:
        - GlobalAPIKeyService
        - API Keys
      summary: Rotate the global API key
      description: Rotates the global API key and returns a new token. All previous tokens are invalidated.
      operationId: GlobalAPIKeyService_RotateGlobalAPIKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account/profiles:
    get:
      tags:
        - WorkspaceAdminService
        - Workspace Admin
      summary: Search account profiles
      description: Searches the account's profiles for a member picker, with free-form name/email search and an optional type filter. Account-scoped; admin only.
      operationId: WorkspaceAdminService_ListProfiles
      parameters:
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: query
          in: query
          description: |-
            Free-form search over profile name and email. Case-insensitive substring
             match; empty returns all profiles.
          schema:
            type: string
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProfilesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account/workspaces:
    get:
      tags:
        - WorkspaceAdminService
        - Workspace Admin
      summary: List all workspaces in the account
      description: Lists every workspace in the account, optionally including archived ones. Admin only.
      operationId: WorkspaceAdminService_ListAccountWorkspaces
      parameters:
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: includeArchived
          in: query
          description: |-
            When true, archived workspaces are included in the results. Defaults to
             false (active workspaces only).
          schema:
            type: boolean
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountWorkspacesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    post:
      tags:
        - WorkspaceAdminService
        - Workspace Admin
      summary: Create a workspace
      description: Creates a new workspace in the account. Admin only.
      operationId: WorkspaceAdminService_CreateWorkspace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account/workspaces/{workspaceId}:
    get:
      tags:
        - WorkspaceAdminService
        - Workspace Admin
      summary: Get a workspace by ID
      description: Retrieves a workspace in the account by ID. Admin only.
      operationId: WorkspaceAdminService_GetWorkspace
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID to retrieve (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    delete:
      tags:
        - WorkspaceAdminService
        - Workspace Admin
      summary: Archive a workspace
      description: Archives a workspace (soft delete). The workspace is retained, but any subsequent request scoped to it returns a permission error. Archiving the account's last active (non-archived) workspace is not allowed and returns FailedPrecondition. Admin only.
      operationId: WorkspaceAdminService_ArchiveWorkspace
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID to archive (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    patch:
      tags:
        - WorkspaceAdminService
        - Workspace Admin
      summary: Update a workspace
      description: Updates a workspace's metadata (e.g. name) and spec. Admin only.
      operationId: WorkspaceAdminService_UpdateWorkspace
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID to update (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkspaceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account/workspaces/{workspaceId}/members:
    get:
      tags:
        - WorkspaceAdminService
        - Workspace Admin
      summary: List workspace members
      description: Lists the members of a workspace. Admin only.
      operationId: WorkspaceAdminService_ListWorkspaceMembers
      parameters:
        - name: workspaceId
          in: path
          description: The workspace whose members will be listed (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspaceMembersResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    post:
      tags:
        - WorkspaceAdminService
        - Workspace Admin
      summary: Add a member to a workspace
      description: Grants a profile access to the workspace by creating (or reactivating) the actor that links the profile to the workspace. Accepts either an existing profile_id or an email to resolve-or-invite. Idempotent for an already-active member. Admin only.
      operationId: WorkspaceAdminService_AddWorkspaceMember
      parameters:
        - name: workspaceId
          in: path
          description: The workspace to add the member to (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddWorkspaceMemberRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceMember'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account/workspaces/{workspaceId}/members/{profileId}:
    delete:
      tags:
        - WorkspaceAdminService
        - Workspace Admin
      summary: Remove a member from a workspace
      description: Revokes a member's access by deactivating their actor; the member is immediately cut off. The underlying profile is not deleted. Admin only.
      operationId: WorkspaceAdminService_RemoveWorkspaceMember
      parameters:
        - name: workspaceId
          in: path
          description: The workspace to remove the member from (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: profileId
          in: path
          description: The profile to remove from the workspace (path).
          required: true
          schema:
            type: string
            example: profile_01HXKD2E5NQM3T9AYWCFS0AP08
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account:rotateChallengeToken:
    post:
      tags:
        - AccountService
        - Accounts
      summary: Rotates the challenge token for the account
      description: Rotates the challenge token sent in the X-Cadenya-Challenge-Token header on MCP tools/list requests. Returns only the new token.
      operationId: AccountService_RotateChallengeToken
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateChallengeTokenResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/account:rotateWebhookSigningKey:
    post:
      tags:
        - AccountService
        - Accounts
      summary: Rotates the webhook signing key for the account
      description: Rotates the webhook signing key for the account. Returns only the new key.
      operationId: AccountService_RotateWebhookSigningKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateWebhookEventsHmacSecretResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/whoami:
    get:
      tags:
        - ProfilesService
        - Profiles
      summary: Retrieves the profile for the credentials accessing the API
      description: Retrieves the profile of the authenticated caller. Useful to check which principal a token belongs to.
      operationId: ProfilesService_Whoami
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces:
    get:
      tags:
        - WorkspaceService
        - Workspaces
      summary: List workspaces
      description: Lists all workspaces for the current account
      operationId: WorkspaceService_ListWorkspaces
      parameters:
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Sort order for results (asc or desc by creation time)
          schema:
            type: string
        - name: includeInfo
          in: query
          description: When set to true you may use more of your alloted API rate-limit
          schema:
            type: boolean
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWorkspacesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents:
    get:
      tags:
        - AgentService
        - Agents
      summary: List agents
      description: Lists all agents in the workspace
      operationId: AgentService_ListAgents
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: prefix
          in: query
          description: 'Filter expression (query param: prefix)'
          schema:
            type: string
        - name: query
          in: query
          description: Free-form search query
          schema:
            type: string
        - name: state
          in: query
          description: Filter by agent lifecycle state
          schema:
            enum:
              - STATE_UNSPECIFIED
              - STATE_DRAFT
              - STATE_PUBLISHED
              - STATE_ARCHIVED
            type: string
            format: enum
        - name: variationSelectionMode
          in: query
          description: Filter by variation selection mode
          schema:
            enum:
              - VARIATION_SELECTION_MODE_UNSPECIFIED
              - VARIATION_SELECTION_MODE_RANDOM
              - VARIATION_SELECTION_MODE_WEIGHTED
            type: string
            format: enum
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Sort order for results (asc or desc by creation time)
          schema:
            type: string
        - name: includeInfo
          in: query
          description: |-
            When true, the `info` field on each returned agent is populated. Requests
             with this flag count more against your rate limit.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    post:
      tags:
        - AgentService
        - Agents
      summary: Create a new agent
      description: Creates a new agent in the workspace
      operationId: AgentService_CreateAgent
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/feedback:
    get:
      tags:
        - AgentService
        - Agents
      summary: List feedback for an agent
      description: Lists feedback submitted across all objectives belonging to an agent. Supports search by comment, sentiment filter, agent variation filter, and creation date range. Results are ordered by creation time, newest first.
      operationId: AgentService_ListAgentFeedback
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: The ID of the agent. Supports "external_id:" prefix for external IDs.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response.
          schema:
            type: string
        - name: query
          in: query
          description: Free-text search applied to the feedback comment. Case-insensitive substring match.
          schema:
            type: string
        - name: sentiment
          in: query
          description: Filter by sentiment. UNSPECIFIED returns feedback regardless of score.
          schema:
            enum:
              - FEEDBACK_SENTIMENT_UNSPECIFIED
              - FEEDBACK_SENTIMENT_POSITIVE
              - FEEDBACK_SENTIMENT_NEGATIVE
            type: string
            format: enum
        - name: agentVariationId
          in: query
          description: |-
            Optional filter to limit results to feedback on objectives run by a single
             agent variation. Supports "external_id:" prefix for external IDs.
          schema:
            type: string
        - name: createdAfter
          in: query
          description: Inclusive lower bound on feedback creation time.
          schema:
            type: string
            format: date-time
        - name: createdBefore
          in: query
          description: Exclusive upper bound on feedback creation time.
          schema:
            type: string
            format: date-time
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
        - name: includeInfo
          in: query
          description: When set to true you may use more of your alloted API rate-limit
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentFeedbackResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/schedules:
    get:
      tags:
        - AgentScheduleService
        - Agent Schedules
      summary: List schedules
      description: Lists all schedules for an agent
      operationId: AgentScheduleService_ListAgentSchedules
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response.
          schema:
            type: string
        - name: prefix
          in: query
          description: 'Filter expression (query param: prefix).'
          schema:
            type: string
        - name: query
          in: query
          description: Free-form search query.
          schema:
            type: string
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Sort order for results (asc or desc by creation time).
          schema:
            type: string
        - name: includeInfo
          in: query
          description: |-
            When true, the `info` field on each returned schedule is populated.
             Requests with this flag count more against your rate limit.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentSchedulesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    post:
      tags:
        - AgentScheduleService
        - Agent Schedules
      summary: Create a new schedule
      description: Creates a new schedule for an agent
      operationId: AgentScheduleService_CreateAgentSchedule
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentScheduleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSchedule'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/schedules/{id}:
    get:
      tags:
        - AgentScheduleService
        - Agent Schedules
      summary: Get a schedule by ID
      description: Retrieves a schedule by ID from an agent
      operationId: AgentScheduleService_GetAgentSchedule
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: id
          in: path
          description: Schedule ID. Accepts the canonical `as_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: as_01HXKD2E5NQM3T9AYWCFMZZZBD
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSchedule'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    delete:
      tags:
        - AgentScheduleService
        - Agent Schedules
      summary: Delete a schedule
      description: Deletes a schedule from an agent
      operationId: AgentScheduleService_DeleteAgentSchedule
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: id
          in: path
          description: Schedule ID. Accepts the canonical `as_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: as_01HXKD2E5NQM3T9AYWCFMZZZBD
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    patch:
      tags:
        - AgentScheduleService
        - Agent Schedules
      summary: Update a schedule
      description: Updates a schedule for an agent
      operationId: AgentScheduleService_UpdateAgentSchedule
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: id
          in: path
          description: Schedule ID. Accepts the canonical `as_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: as_01HXKD2E5NQM3T9AYWCFMZZZBD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentScheduleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSchedule'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/schedules/{id}:archive:
    post:
      tags:
        - AgentScheduleService
        - Agent Schedules
      summary: Archive a schedule
      description: 'Transitions a schedule to STATE_ARCHIVED and removes its underlying timer. Archiving is terminal: archived schedules never fire and cannot be reactivated; create a new schedule instead.'
      operationId: AgentScheduleService_ArchiveAgentSchedule
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: id
          in: path
          description: Schedule ID. Accepts the canonical `as_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: as_01HXKD2E5NQM3T9AYWCFMZZZBD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveAgentScheduleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSchedule'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/schedules/{id}:pause:
    post:
      tags:
        - AgentScheduleService
        - Agent Schedules
      summary: Pause a schedule
      description: Transitions a schedule to STATE_PAUSED. Paused schedules retain history but do not fire.
      operationId: AgentScheduleService_PauseAgentSchedule
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: id
          in: path
          description: Schedule ID. Accepts the canonical `as_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: as_01HXKD2E5NQM3T9AYWCFMZZZBD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PauseAgentScheduleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSchedule'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/schedules/{id}:resume:
    post:
      tags:
        - AgentScheduleService
        - Agent Schedules
      summary: Resume a schedule
      description: Transitions a paused schedule back to STATE_ACTIVE so it fires on its cadence again. Archived schedules cannot be resumed.
      operationId: AgentScheduleService_ResumeAgentSchedule
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: id
          in: path
          description: Schedule ID. Accepts the canonical `as_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: as_01HXKD2E5NQM3T9AYWCFMZZZBD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeAgentScheduleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSchedule'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/variations:
    get:
      tags:
        - AgentVariationService
        - Agent Variations
      summary: List variations
      description: Lists all variations for an agent
      operationId: AgentVariationService_ListAgentVariations
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Sort order for results (asc or desc by creation time)
          schema:
            type: string
        - name: includeInfo
          in: query
          description: |-
            When true, the `info` field on each returned variation is populated.
             Requests with this flag count more against your rate limit.
          schema:
            type: boolean
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentVariationsResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    post:
      tags:
        - AgentVariationService
        - Agent Variations
      summary: Create a new variation
      description: Creates a new variation for an agent
      operationId: AgentVariationService_CreateAgentVariation
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentVariationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVariation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/variations/{id}:
    get:
      tags:
        - AgentVariationService
        - Agent Variations
      summary: Get a variation by ID
      description: Retrieves a variation by ID from an agent
      operationId: AgentVariationService_GetAgentVariation
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: id
          in: path
          description: Variation ID. Accepts the canonical `agentvar_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agentvar_01HXKD2E5NQM3T9AYWCF32BSPP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVariation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    delete:
      tags:
        - AgentVariationService
        - Agent Variations
      summary: Delete a variation
      description: Deletes a variation from an agent
      operationId: AgentVariationService_DeleteAgentVariation
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: id
          in: path
          description: Variation ID. Accepts the canonical `agentvar_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agentvar_01HXKD2E5NQM3T9AYWCF32BSPP
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    patch:
      tags:
        - AgentVariationService
        - Agent Variations
      summary: Update a variation
      description: Updates a variation for an agent
      operationId: AgentVariationService_UpdateAgentVariation
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: id
          in: path
          description: Variation ID. Accepts the canonical `agentvar_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agentvar_01HXKD2E5NQM3T9AYWCF32BSPP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentVariationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVariation'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/variations/{variationId}/assignments:
    post:
      tags:
        - AgentVariationService
        - Agent Variations
      summary: Add an assignment to a variation
      description: Assigns a tool, tool set, or sub-agent to a variation. Exactly one target ID must be set.
      operationId: AgentVariationService_AddAgentVariationAssignment
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: variationId
          in: path
          description: Variation ID. Accepts the canonical `agentvar_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agentvar_01HXKD2E5NQM3T9AYWCF32BSPP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAgentVariationAssignmentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariationAssignment'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/variations/{variationId}/assignments/{id}:
    delete:
      tags:
        - AgentVariationService
        - Agent Variations
      summary: Remove an assignment from a variation
      description: Detaches an assignment from a variation, identified by the assignment ID returned when it was added.
      operationId: AgentVariationService_RemoveAgentVariationAssignment
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: variationId
          in: path
          description: Variation ID. Accepts the canonical `agentvar_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agentvar_01HXKD2E5NQM3T9AYWCF32BSPP
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: avt_01HXKD2E5NQM3T9AYWCFJE6K89
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/variations/{variationId}/memory_layer_assignments:
    post:
      tags:
        - AgentVariationService
        - Agent Variations
      summary: Attach a memory layer to a variation
      description: Attaches a memory layer to a variation at a given position in the variation's baseline memory cascade.
      operationId: AgentVariationService_AddAgentVariationMemoryLayer
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: variationId
          in: path
          description: Variation ID. Accepts the canonical `agentvar_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agentvar_01HXKD2E5NQM3T9AYWCF32BSPP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAgentVariationMemoryLayerRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariationMemoryLayerAssignment'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/variations/{variationId}/memory_layer_assignments/{id}:
    delete:
      tags:
        - AgentVariationService
        - Agent Variations
      summary: Remove a memory layer assignment from a variation
      description: Detaches a memory layer assignment from a variation, identified by the assignment id.
      operationId: AgentVariationService_RemoveAgentVariationMemoryLayer
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: variationId
          in: path
          description: Variation ID. Accepts the canonical `agentvar_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agentvar_01HXKD2E5NQM3T9AYWCF32BSPP
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: avml_01HXKD2E5NQM3T9AYWCFX8AF59
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    patch:
      tags:
        - AgentVariationService
        - Agent Variations
      summary: Update a variation's memory layer assignment
      description: Updates the position of a memory layer assignment on a variation.
      operationId: AgentVariationService_UpdateAgentVariationMemoryLayer
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: variationId
          in: path
          description: Variation ID. Accepts the canonical `agentvar_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agentvar_01HXKD2E5NQM3T9AYWCF32BSPP
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: avml_01HXKD2E5NQM3T9AYWCFX8AF59
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentVariationMemoryLayerRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VariationMemoryLayerAssignment'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{agentId}/webhook_deliveries:
    get:
      tags:
        - AgentService
        - Agents
      summary: List webhook deliveries
      description: Lists all webhook deliveries for an agent
      operationId: AgentService_ListAgentWebhookDeliveries
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: agentId
          in: path
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: objectiveId
          in: query
          description: Optional filter by objective ID
          schema:
            type: string
            example: obj_01HXKD2E5NQM3T9AYWCFQAZGFV
        - name: eventType
          in: query
          description: Optional filter by event type
          schema:
            enum:
              - OBJECTIVE_EVENT_TYPE_UNSPECIFIED
              - OBJECTIVE_EVENT_TYPE_USER_MESSAGE
              - OBJECTIVE_EVENT_TYPE_TOOL_APPROVAL_REQUESTED
              - OBJECTIVE_EVENT_TYPE_TOOL_APPROVED
              - OBJECTIVE_EVENT_TYPE_TOOL_DENIED
              - OBJECTIVE_EVENT_TYPE_TOOL_CALLED
              - OBJECTIVE_EVENT_TYPE_ERROR
              - OBJECTIVE_EVENT_TYPE_ASSISTANT_MESSAGE
              - OBJECTIVE_EVENT_TYPE_TOOL_RESULT
              - OBJECTIVE_EVENT_TYPE_TOOL_ERROR
              - OBJECTIVE_EVENT_TYPE_CONTEXT_WINDOW_COMPACTED
              - OBJECTIVE_EVENT_TYPE_MEMORY_READ
              - OBJECTIVE_EVENT_TYPE_CANCELLED
              - OBJECTIVE_EVENT_TYPE_SUB_AGENT_SPAWNED
              - OBJECTIVE_EVENT_TYPE_SUB_AGENT_UPDATED
              - OBJECTIVE_EVENT_TYPE_FINALIZED
              - OBJECTIVE_EVENT_TYPE_NOTICE
              - OBJECTIVE_EVENT_TYPE_TIMED_OUT
              - OBJECTIVE_EVENT_TYPE_REASONING
            type: string
            format: enum
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentWebhookDeliveriesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{id}:
    get:
      tags:
        - AgentService
        - Agents
      summary: Get an agent by ID
      description: Retrieves an agent by ID from the workspace
      operationId: AgentService_GetAgent
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    delete:
      tags:
        - AgentService
        - Agents
      summary: Delete an agent
      description: Deletes an agent from the workspace
      operationId: AgentService_DeleteAgent
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    patch:
      tags:
        - AgentService
        - Agents
      summary: Update an agent
      description: Updates an agent in the workspace
      operationId: AgentService_UpdateAgent
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{id}:archive:
    post:
      tags:
        - AgentService
        - Agents
      summary: Archive an agent
      description: Transitions an agent to STATE_ARCHIVED. Archived agents are hidden from list results and cannot be used for objectives; active schedules are paused.
      operationId: AgentService_ArchiveAgent
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveAgentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{id}:publish:
    post:
      tags:
        - AgentService
        - Agents
      summary: Publish an agent
      description: Transitions an agent to STATE_PUBLISHED, making it available for objectives. The agent must have at least one variation.
      operationId: AgentService_PublishAgent
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishAgentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{id}:unarchive:
    post:
      tags:
        - AgentService
        - Agents
      summary: Unarchive an agent
      description: Transitions an archived agent back to STATE_DRAFT. Publish the agent again to make it available for objectives.
      operationId: AgentService_UnarchiveAgent
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnarchiveAgentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/agents/{id}:unpublish:
    post:
      tags:
        - AgentService
        - Agents
      summary: Unpublish an agent
      description: Transitions a published agent back to STATE_DRAFT. Active schedules for the agent are paused until it is published again.
      operationId: AgentService_UnpublishAgent
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: Agent ID. Accepts the canonical `agent_…` form or the `external_id:<value>` form.
          required: true
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnpublishAgentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/ai_provider_keys:
    get:
      tags:
        - AIProviderKeyService
        - AI Provider Keys
      summary: List AI provider keys
      description: Lists all customer-provided AI provider keys in the workspace
      operationId: AIProviderKeyService_ListAIProviderKeys
      parameters:
        - name: workspaceId
          in: path
          description: The workspace whose keys will be listed.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: prefix
          in: query
          description: 'Filter expression (query param: prefix)'
          schema:
            type: string
        - name: query
          in: query
          description: Free-form search query
          schema:
            type: string
        - name: promotional
          in: query
          description: |-
            When true, return only promotional keys (provided by Cadenya, e.g. for
             onboarding). Defaults to returning all keys, customer-provided and
             promotional alike.
          schema:
            type: boolean
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Sort order for results (asc or desc by creation time)
          schema:
            type: string
        - name: includeInfo
          in: query
          description: |-
            When true, populate each item's info (model counts), at the cost of extra
             lookups.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAIProviderKeysResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    post:
      tags:
        - AIProviderKeyService
        - AI Provider Keys
      summary: Create a new AI provider key
      description: Creates a new customer-provided AI provider key in the workspace
      operationId: AIProviderKeyService_CreateAIProviderKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace that will own this key.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAIProviderKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIProviderKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/ai_provider_keys/{id}:
    get:
      tags:
        - AIProviderKeyService
        - AI Provider Keys
      summary: Get an AI provider key by ID
      description: Retrieves an AI provider key by ID from the workspace
      operationId: AIProviderKeyService_GetAIProviderKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace the key belongs to.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: The key to retrieve.
          required: true
          schema:
            type: string
            example: aipk_01HXKD2E5NQM3T9AYWCFQ41VW3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIProviderKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    delete:
      tags:
        - AIProviderKeyService
        - AI Provider Keys
      summary: Delete an AI provider key
      description: Deletes an AI provider key from the workspace
      operationId: AIProviderKeyService_DeleteAIProviderKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace the key belongs to.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: The key to delete.
          required: true
          schema:
            type: string
            example: aipk_01HXKD2E5NQM3T9AYWCFQ41VW3
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    patch:
      tags:
        - AIProviderKeyService
        - AI Provider Keys
      summary: Update an AI provider key
      description: Updates an AI provider key's name or key value in the workspace
      operationId: AIProviderKeyService_UpdateAIProviderKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace the key belongs to.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: The key to update.
          required: true
          schema:
            type: string
            example: aipk_01HXKD2E5NQM3T9AYWCFQ41VW3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAIProviderKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIProviderKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/api_keys:
    get:
      tags:
        - APIKeyService
        - API Keys
      summary: List API keys
      description: Lists the workspace's API keys.
      operationId: APIKeyService_ListAPIKeys
      parameters:
        - name: workspaceId
          in: path
          description: The workspace whose API keys will be listed (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response.
          schema:
            type: string
        - name: prefix
          in: query
          description: Filter by ID prefix.
          schema:
            type: string
        - name: query
          in: query
          description: Free-form search query.
          schema:
            type: string
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Sort order for results (asc or desc by creation time).
          schema:
            type: string
        - name: includeInfo
          in: query
          description: |-
            When true, included info fields are populated. Requests with this
             flag count more against your rate limit.
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAPIKeysResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    post:
      tags:
        - APIKeyService
        - API Keys
      summary: Create a new API key
      description: Creates a new API key in the workspace.
      operationId: APIKeyService_CreateAPIKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace this API key belongs to (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/api_keys/{id}:
    get:
      tags:
        - APIKeyService
        - API Keys
      summary: Get an API key by ID
      description: Retrieves an API key by ID.
      operationId: APIKeyService_GetAPIKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace the API key belongs to (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: The API key to retrieve.
          required: true
          schema:
            type: string
            example: apikey_01HXKD2E5NQM3T9AYWCFCSPNQY
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    delete:
      tags:
        - APIKeyService
        - API Keys
      summary: Delete an API key
      description: Deletes an API key.
      operationId: APIKeyService_DeleteAPIKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace the API key belongs to (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: The API key to delete.
          required: true
          schema:
            type: string
            example: apikey_01HXKD2E5NQM3T9AYWCFCSPNQY
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    patch:
      tags:
        - APIKeyService
        - API Keys
      summary: Update an API key
      description: Updates an API key.
      operationId: APIKeyService_UpdateAPIKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace the API key belongs to (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: The API key to update.
          required: true
          schema:
            type: string
            example: apikey_01HXKD2E5NQM3T9AYWCFCSPNQY
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAPIKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/api_keys/{id}:disable:
    post:
      tags:
        - APIKeyService
        - API Keys
      summary: Disable an API key
      description: Disables an API key. While disabled, presenting the key's token fails authentication on every endpoint; the key is retained. Idempotent.
      operationId: APIKeyService_DisableAPIKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace the API key belongs to (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: The API key to disable.
          required: true
          schema:
            type: string
            example: apikey_01HXKD2E5NQM3T9AYWCFCSPNQY
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisableAPIKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/api_keys/{id}:enable:
    post:
      tags:
        - APIKeyService
        - API Keys
      summary: Enable an API key
      description: Re-enables a disabled API key so its token authenticates again. Idempotent.
      operationId: APIKeyService_EnableAPIKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace the API key belongs to (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: The API key to enable.
          required: true
          schema:
            type: string
            example: apikey_01HXKD2E5NQM3T9AYWCFCSPNQY
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableAPIKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/api_keys/{id}:rotate:
    post:
      tags:
        - APIKeyService
        - API Keys
      summary: Rotate an API key
      description: Rotates an API key and returns a new token. All previous tokens for this key are invalidated.
      operationId: APIKeyService_RotateAPIKey
      parameters:
        - name: workspaceId
          in: path
          description: The workspace the API key belongs to (path).
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: |-
            The API key to rotate. A new token is issued and any existing token is
             invalidated.
          required: true
          schema:
            type: string
            example: apikey_01HXKD2E5NQM3T9AYWCFCSPNQY
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateAPIKeyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKey'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/memory_layers:
    get:
      tags:
        - MemoryService
        - Memory Layers
      summary: List memory layers
      description: Lists all memory layers in the workspace
      operationId: MemoryService_ListMemoryLayers
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: prefix
          in: query
          description: 'Filter expression (query param: prefix)'
          schema:
            type: string
        - name: query
          in: query
          description: Free-form search query
          schema:
            type: string
        - name: type
          in: query
          description: Filter by layer type
          schema:
            enum:
              - MEMORY_LAYER_TYPE_UNSPECIFIED
              - MEMORY_LAYER_TYPE_EPISODIC
              - MEMORY_LAYER_TYPE_SKILLS
            type: string
            format: enum
        - name: agentId
          in: query
          description: Filter to episodic layers belonging to this agent.
          schema:
            type: string
            example: agent_01HXKD2E5NQM3T9AYWCFMGWT9Y
        - name: episodicKeyPrefix
          in: query
          description: |-
            Filter to episodic layers whose episodic key starts with this prefix
             (e.g. "customer/" matches "customer/42" and "customer/43"). Useful for
             namespaced keys, similar to a redis key scan.
          schema:
            type: string
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Sort order for results (asc or desc by creation time)
          schema:
            type: string
        - name: includeInfo
          in: query
          description: When set to true you may use more of your alloted API rate-limit
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemoryLayersResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    post:
      tags:
        - MemoryService
        - Memory Layers
      summary: Create a new memory layer
      description: Creates a new memory layer in the workspace
      operationId: MemoryService_CreateMemoryLayer
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMemoryLayerRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryLayer'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/memory_layers/{id}:
    get:
      tags:
        - MemoryService
        - Memory Layers
      summary: Get a memory layer by ID
      description: Retrieves a memory layer by ID from the workspace
      operationId: MemoryService_GetMemoryLayer
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: Memory layer ID. Accepts canonical memlyr_… form or external_id:<value> form.
          required: true
          schema:
            type: string
            example: memlyr_01HXKD2E5NQM3T9AYWCFFFBMJH
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryLayer'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    delete:
      tags:
        - MemoryService
        - Memory Layers
      summary: Delete a memory layer
      description: Deletes a memory layer from the workspace
      operationId: MemoryService_DeleteMemoryLayer
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: Memory layer ID. Accepts canonical memlyr_… form or external_id:<value> form.
          required: true
          schema:
            type: string
            example: memlyr_01HXKD2E5NQM3T9AYWCFFFBMJH
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    patch:
      tags:
        - MemoryService
        - Memory Layers
      summary: Update a memory layer
      description: Updates a memory layer in the workspace
      operationId: MemoryService_UpdateMemoryLayer
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: id
          in: path
          description: Memory layer ID. Accepts canonical memlyr_… form or external_id:<value> form.
          required: true
          schema:
            type: string
            example: memlyr_01HXKD2E5NQM3T9AYWCFFFBMJH
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemoryLayerRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryLayer'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/memory_layers/{memoryLayerId}/entries:
    get:
      tags:
        - MemoryService
        - Memory Entries
      summary: List memory entries
      description: Lists all entries in a memory layer
      operationId: MemoryService_ListMemoryEntries
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: memoryLayerId
          in: path
          description: Memory layer ID. Accepts canonical memlyr_… form or external_id:<value> form.
          required: true
          schema:
            type: string
            example: memlyr_01HXKD2E5NQM3T9AYWCFFFBMJH
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: prefix
          in: query
          description: |-
            Filter by key prefix (e.g., "skills/postmortem/" to list all entries
             under that hierarchy). Matches against the entry's key, not its name.
          schema:
            type: string
        - name: query
          in: query
          description: Free-form search query
          schema:
            type: string
        - name: labels
          in: query
          description: |-
            Filters by metadata labels. Comma-separated key=value pairs,
             e.g. "env=prod,team=ai". A resource matches only if every pair
             matches exactly (AND semantics).
          schema:
            type: string
        - name: sortOrder
          in: query
          description: Sort order for results (asc or desc by creation time)
          schema:
            type: string
        - name: includeInfo
          in: query
          description: When set to true you may use more of your alloted API rate-limit
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMemoryEntriesResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    post:
      tags:
        - MemoryService
        - Memory Entries
      summary: Create a new memory entry
      description: Creates a new entry in a memory layer. Returns the detail view, including the resolved content body.
      operationId: MemoryService_CreateMemoryEntry
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: memoryLayerId
          in: path
          description: Memory layer ID. Accepts canonical memlyr_… form or external_id:<value> form.
          required: true
          schema:
            type: string
            example: memlyr_01HXKD2E5NQM3T9AYWCFFFBMJH
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMemoryEntryRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryEntryDetail'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/memory_layers/{memoryLayerId}/entries/{id}:
    get:
      tags:
        - MemoryService
        - Memory Entries
      summary: Get a memory entry by ID
      description: Retrieves a memory entry by ID from a memory layer. Returns the detail view, including the content body.
      operationId: MemoryService_GetMemoryEntry
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: memoryLayerId
          in: path
          description: Memory layer ID. Accepts canonical memlyr_… form or external_id:<value> form.
          required: true
          schema:
            type: string
            example: memlyr_01HXKD2E5NQM3T9AYWCFFFBMJH
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: mementry_01HXKD2E5NQM3T9AYWCF5E52Z0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryEntryDetail'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    delete:
      tags:
        - MemoryService
        - Memory Entries
      summary: Delete a memory entry
      description: Deletes a memory entry from a memory layer
      operationId: MemoryService_DeleteMemoryEntry
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: memoryLayerId
          in: path
          description: Memory layer ID. Accepts canonical memlyr_… form or external_id:<value> form.
          required: true
          schema:
            type: string
            example: memlyr_01HXKD2E5NQM3T9AYWCFFFBMJH
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: mementry_01HXKD2E5NQM3T9AYWCF5E52Z0
      responses:
        '200':
          description: OK
          content: {}
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
    patch:
      tags:
        - MemoryService
        - Memory Entries
      summary: Update a memory entry
      description: Updates a memory entry in a memory layer. Returns the detail view, including the resolved content body.
      operationId: MemoryService_UpdateMemoryEntry
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: memoryLayerId
          in: path
          description: Memory layer ID. Accepts canonical memlyr_… form or external_id:<value> form.
          required: true
          schema:
            type: string
            example: memlyr_01HXKD2E5NQM3T9AYWCFFFBMJH
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: mementry_01HXKD2E5NQM3T9AYWCF5E52Z0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemoryEntryRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryEntryDetail'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/workspaces/{workspaceId}/models:
    get:
      tags:
        - ModelService
        - Models
      summary: List models
      description: Lists all models in the workspace
      operationId: ModelService_ListModels
      parameters:
        - name: workspaceId
          in: path
          description: Workspace ID.
          required: true
          schema:
            type: string
            example: workspace_01HXKD2E5NQM3T9AYWCF133E3Q
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            format: int32
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: prefix
          in: query
          description: |-
            Filter by a prefix of the model's display name, external id, or id
             (case-insensitive). A model's external id is the form used in
             modelConfig.modelId, so a caller holding that can narrow the list by it.
          schema:
[...]
